* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: rgba(20, 20, 20);
}

h1 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

h3 {
  color: white;
  text-align: center;
  margin-top: 20px;
}
