* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  padding-top: 60px;
  background-color: black;
  height: 100%;
  color: white;
  padding: 60px 50px;
}

h3 {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.result-item-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 150px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.result-movie-poster {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.item-title {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-details {
  font-size: 14px;
  color: #888;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.item-year {
  font-size: 14px;
  width: 100px;
}

.item-vote {
  font-size: 14px;
}

.genre-item {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 30%;
  height: 30%;
}
